<div style="border-radius: 5px; border: 1px solid Gray;">
    <div style="padding: 10px 10px 10px 10px;display: inline-block">
        <div style="display: inline-block">
            <span style="display: inline-block; border-radius: 5px; height: 80px; width: 80px;
                background-color: Silver; background-image: url('http://www.gravatar.com/avatar/147bacafcdb00d67d3336ecdf4078ba5.png')">
            </span>
        </div>
        <div style="display: inline-block">
            <span>Sumit Maitra</span><br />
            <span><strong>sumit</strong></span>
        </div>
    </div>
    <div style="padding: 0px;">
        <div style="border-bottom: 1px solid gray; border-top: 1px solid gray; font-size: 11px">
            <div style="display: inline-block; padding: 7px 12px; border-right: 1px solid gray">
                <div>
                    <strong>2</strong></div>
                <div>
                    CHIRPS</div>
            </div>
            <div style="display: inline-block; padding: 7px 12px; border-right: 1px solid gray">
                <div>
                    <strong>
                        <label id="following">
                            4
                        </label>
                    </strong>
                </div>
                <div>
                    FOLLOWING</div>
            </div>
            <div style="display: inline-block; padding: 7px 12px;">
                <div>
                    <strong>
                        <label id="followers">
                            3
                        </label>
                    </strong>
                </div>
                <div>
                    FOLLOWERS</div>
            </div>
        </div>
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px; padding: 7px 12px">
        <div>
            <textarea placeholder="Compose a Chirp..." style="width: 100%; border-radius: 5px;
                border: 1px solid gray" id="chirpText" rows="3"></textarea>
        </div>
        <div style="text-align: right">
            <input type="button" name="postChirp" id="postChirp" value="Chirp" />
        </div>
    </div>
</div>
